<!DOCTYPE html>
<html>
<head>
    <title>Start Attendance</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="form-box">
        <h2>Start Attendance</h2>

        <form method="POST">
            <label>Start Time:</label><br>
            <input type="time" name="start_time" required><br><br>

            <label>End Time:</label><br>
            <input type="time" name="end_time" required><br><br>

            <button type="submit">Start Attendance</button>
        </form>
    </div>
</body>
</html>